/*
Custom design for the MEMO Project by Linn Oyen Farley (http://drollic.net)
*/


/** RESET default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- **/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; margin: 0; padding: 0; vertical-align: baseline; }
body { line-height: 1; }
h1, h2, h3, h4, h5, h6 { clear: both; font-weight: normal; }
ol, ul { list-style: none; }
blockquote { quotes: none; }
blockquote:before, blockquote:after { content: ''; content: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
a img { border: none; }

/** End RESET 
-------------------------------------------------------------- **/



/** MAIN STYLES AND COLOURS
-------------------------------------------------------------- **/

body { background: rgb(239, 239, 239); font-family: Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif; font-size: 15px; }

a:link, a:visited, .highlight { color: rgb(230, 25, 28); outline: none; text-decoration: none; }
a:hover, a:active { color: rgb(186, 150, 97); outline: none; text-decoration: none; }
.highlight { font-size: 1.2em; }

.footer a:link, .footer a:visited { color: rgb(154, 154, 154); }
.footer a:hover, .footer a:active { color: rgb(230, 25, 28); }

.alignright { padding: 0; text-align: right; }
.aligncenter { padding: 0; text-align: center; }

p { line-height: 1.7em; padding: 0 0 15px 0; }
p.aligncenter { padding-bottom: 15px; }
.footer p.alignright { font-size: 0.8em; }

h1, h2, h3, h4, h5, h6 { text-transform: lowercase; }

h1, h2 { font-family: "Gill Sans", Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif; }
h1 a:link, h1 a:hover, h1 a:active, h1 a:visited { color: rgb(255, 255, 255); }
h1 { color: rgb(255, 255, 255); font-size: 3.2em; letter-spacing: 0.2em; }
h2 { color: rgb(77, 78, 58); font-size: 2em; letter-spacing: 0.02em; padding: 0 0 25px 1%; }

h3, h4, h5, h6 { font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif; }
h3 { color: rgb(77, 78, 58); font-size: 1.6em; padding: 0 0 10px 1%; }
h3.aligncenter { margin: 20px 0 20px 0; }
h4 { color: rgb(77, 78, 58); font-size: 2em; }
h5, h6 { color: rgb(136, 139, 119); }
h5 { font-size: 2.3em; margin: 0 0 15px 0; }
h6 { font-size: 1.5em; margin: 25px 0 0 0; }

.leftquote { color: rgb(230, 25, 28); float: left; font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif; font-size: 5em; margin: 15px 1.5% -25px 0; }
.rightquote { display: none; }

cite, em, i { font-style: italic; }
.clear { border: 0; clear: both; display: block; height: 0; }
.hidden { display: none; }
.small { font-size: 0.83em; }
.copyright { font-size: 0.83em; }
strong { font-weight: bold; }

/** End MAIN STYLES AND COLOURS
-------------------------------------------------------------- **/



/** LISTS
-------------------------------------------------------------- **/

ul { list-style: disc; margin: 0 0 0 1.5em; }
ol { list-style: decimal; margin: 0 0 18px 1.5em; }
ol ol { list-style: upper-alpha; }
ol ol ol { list-style: lower-roman; }
ol ol ol ol { list-style: lower-alpha; }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }
dl { margin: 0 0 24px 0; }
dt { font-weight: bold; }
dd { margin-bottom: 18px; }

/** End LISTS
-------------------------------------------------------------- **/



/** STRUCTURE
-------------------------------------------------------------- **/

.container { background: rgb(255, 255, 255); margin: 0 auto 0 auto; max-width: 1568px; }

/* Header and navigation */

.header { background: rgb(33, 80, 161) url(images/structure.jpg) no-repeat top right; height: 350px; }
.banner { padding: 230px 0 0 0; margin: 0 0 0 1%; }

/* Main content */

.content { clear: both; padding: 0; }

.twocol { float: left; font-size: 1.15em; margin: 0 0 20px 0; padding: 0 1%; width: 48%; }

.threecol { float: left; padding: 0 1%; width: 31.2%; }
.threecol .alignright { color: rgb(230, 25, 28); font-style: italic; line-height: 1.1em; margin: -10px 0 20px 0; }

.fb-like { margin: 0 0 15px 0; }
.fb-like, .fb-like span, .fb-like.fb_iframe_widget span iframe { margin-left: 10%; width: 90%!important; }
.twitter { height: 30px; }
form { margin: 20px 0 5px 0; }

/* Footer */
.footer { border-top: 1px solid rgb(219, 211, 210); border-bottom: 6px solid rgb(230, 25, 28); clear: both; color: rgb(154, 154, 154); font-style: italic; padding: 30px 1% 0 1%; }

/** End STRUCTURE
-------------------------------------------------------------- **/



/** TABLES
-------------------------------------------------------------- **/

.content table { border: 1px solid rgb(219, 211, 210); margin: 0 0 15px 0; text-align: left; width: 100%; }
.content tr th, .content thead th { color: rgb(175, 156, 61); font-weight: bold; padding: 10px 24px; }
.content tr td { border-top: 1px solid rgb(219, 211, 210); padding: 10px 24px; }

/** End TABLES
-------------------------------------------------------------- **/



/** IMAGES AND EMBEDS
-------------------------------------------------------------- **/

.content img { max-width: 100%; /* When images are too wide for containing element, force them to fit. */ height: auto; /* Override height to match resized width for correct aspect ratio. */ }
img.alignleft { float: left; margin: 0 15px 0 0; padding: 0 0 45px 0; }
img.alignright { float: right; margin: 0 0 0 15px; padding: 0 0 45px 0; }
img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }
img.alignleft, img.alignright, img.aligncenter { margin-bottom: 15px; }
.aligncenter img { padding: 0 0.5em; }

iframe { display: block; margin: 0 auto 40px auto; max-width: 100%; }

/** End IMAGES AND EMBEDS
-------------------------------------------------------------- **/



/** RESPONSIVE STRUCTURE
---------------------------------------------------------------------------------------------------------------------------- **/

@media (max-width: 685px) {

    h1 { letter-spacing: 0.05em; }
    .twocol { float: none; margin: 0; padding: 0 3%; width: auto; }
    .threecol { float: none; padding: 0 3%; width: auto; }
    img.alignleft { padding: 0 0 15px 0; }
    img.alignright { padding: 0 0 15px 0; }
    .footer { padding-top: 10px; }
    .footer .alignright { margin-top: 10px; text-align: center; }

}

@media (max-width: 650px) {

    .header { height: 270px; }
    .banner { background-position: 50% 30%; margin: 0; padding: 160px 0 0 0; text-align: center; }
    h2 { text-align: center; }

}

@media(max-width:375px){
    .temp-banner{
       font-size: 80px;
    }
}
/** End RESPONSIVE STRUCTURE
-------------------------------------------------------------- **/



/** PRINT STYLES
-------------------------------------------------------------- **/

@media print {
    body { background: none; padding: 15px; }
    .header { background: none!important; height: auto; }
    .banner { height: auto; padding: 0; }
    .content { padding: 10px 0 0 0; }
    .twocol, .threecol { float: none; margin: 0; width: auto; }
    .footer { border: 0; padding: 0; }
    h1 { font-size: 2.4em; padding: 0 0 15px 0; }
    h2, h3, h4, h5, h6 { padding: 0; }
    h1, h1 a:link, h1 a:visited, h2, h3, h4, h5, h6, a:link, a:visited, a:hover, a:active, p.alignright, p.aligncenter { color: rgb(0, 0, 0)!important; text-align: left; text-transform: none; }
    .content a:link:after, .footer a:link:after { content: " (" attr(href) ") "; }
    .leftquote { color: rgb(0,0,0); float: none; font-family: Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif; font-size: 1em; margin: 0; }
    .rightquote { display: inline; }
    .aligncenter { text-align: left; }
    iframe { display: none; }
}

/** End PRINT STYLES
-------------------------------------------------------------- **/
